/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070; 
  --shaddow-color: #DB00FF; 
  --border-color: #F1B2CE;
  --background-image: url(../images/cover-image-dark.png);
  --header-icon: url(../images/header_icon.svg);
  --rec-item: block;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}