/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-image: url(../images/cover-image-dark.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.theme-dark .page .header {}

.theme-dark .page .header .rec {
  display: block;
  position: absolute;
  padding-right: 28px;
  right: 10px;
  top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FF0070;
}

.theme-dark .page .header .rec::after {
  content: '';
  position: absolute;
  right: 9px;
  top: 9px;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: #FF0070;
  box-shadow: 0px 0px 4px 2px #FF0070;

}

.theme-dark .page .header h1 {
  text-shadow: 4px 4px 0px #FF0070;
  color: #DB00FF;
}

.theme-dark .page .header .title-decor,
.theme-dark .item h3,
.theme-dark .gallery h3,
.theme-dark .section-title {
  background-color: #FF0070;
}

.theme-dark .page .header p,
.theme-dark .item h3,
.theme-dark .gallery h3,
.theme-dark .section-title {
  color: #000028;
}

.theme-dark .article,
.theme-dark .page .header button {
  color: #FF0070;
}

.theme-dark .page .header button:hover {
  border-color: #FF007066
}

.theme-dark .page .header button:focus {
  border-bottom-color: #FF0070;
}

.theme-dark .item p {
  color: #F1B2CE;
}

.item p a:focus {
  border-color: #F1B2CE;
}