/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070; 
  --shaddow-color: #DB00FF; 
  --border-color: #F1B2CE;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-image: url(../images/cover-image-dark.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.theme-dark .page .header {}

.theme-dark .page .header .rec {
  display: block;
  position: absolute;
  padding-right: 28px;
  right: 10px;
  top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--accent-color);
}

.theme-dark .page .header .rec::after {
  content: '';
  position: absolute;
  right: 9px;
  top: 9px;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.theme-dark .page .header h1 {
  text-shadow: 4px 4px 0px var(--accent-color);
  color: var(--shaddow-color);
}

.theme-dark #footer .logo {
  text-shadow: 2px 2px 0px var(--accent-color);
  color: var(--shaddow-color);
}

.theme-dark .page .header .title-decor,
.theme-dark .item h3,
.theme-dark .gallery h3,
.theme-dark .section-title {
  background-color: var(--accent-color);
}

.theme-dark .page .header p,
.theme-dark .item h3,
.theme-dark .gallery h3,
.theme-dark .section-title {
  color: #000028;
}

.theme-dark .article,
.theme-dark .page .header button {
  color: var(--accent-color);
}

.theme-dark .page .header button:hover {
  border-color: #FF007066
}

.theme-dark .page .header button:focus {
  border-bottom-color: var(--accent-color);
}

.theme-dark .item p {
  color: var(--border-color);
}

.theme-dark .item p a:focus {
  border-color: var(--border-color);
}

.theme-dark .item p a {
  text-shadow: 2px 2px 0px var(--accent-color);
}

.theme-dark .page .header .header__theme-menu-button_active {
  border-color: var(--accent-color);
}

.theme-dark .item p a:hover::after {
  background-color: var(--border-color);
}

@media screen and (min-width: 768px) {
  .theme-dark .page .header .rec {
    right: 20px;
    top: 20px;
  }
}