/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #FFC2E6;
  --shaddow-color: #FF8DCB;
  --border-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FFC2E6;
    --shaddow-color: #FF8DCB;
    --border-color: #353430;
  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-image: url(../images/cover-image-light.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.theme-light .page .header::after,
.theme-light .page #footer::after,
.theme-light .page .header::before,
.theme-light .page #footer::before {
  background-image: url(../images/header_icon_dark.svg);
}

.theme-light .page .header h1 {
  text-shadow: 4px 4px 0px var(--shaddow-color);
  color: var(--accent-color);
}

.theme-light #footer .logo {
  text-shadow: 2px 2px 0px var(--shaddow-color);
  color: var(--accent-color);
}

.theme-light .page .header .title-decor,
.theme-light .item h3,
.theme-light .gallery h3,
.theme-light .section-title {
  background-color: var(--shaddow-color);
}

.theme-light .page .header p,
.theme-light .item h3,
.theme-light .gallery h3,
.theme-light .section-title,
.theme-light .article,
.theme-light .page .header button,
.theme-light .item p {
  color: var(--border-color);
}

.theme-light .page .header button:hover {
  border-color: #32312D66
}

.theme-light .page .header button:focus {
  border-bottom-color: var(--border-color);
}

.theme-light .item p a:focus {
  border-color: var(--border-color);
}

.theme-light .item p a {
  text-shadow: 2px 2px 0px var(--shaddow-color);
}

.theme-light .item p a:hover::after {
  background-color: var(--border-color);
}

.theme-light .page .header .header__theme-menu-button_active {
  border-color: var(--border-color);
}