/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #FF8DCB;
  --shaddow-color: #FFC2E6;
  --border-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --header-icon-color: #353430;
  --rec-item: none;
  --button-color: #353430;
  --button-hover-color: #32312D66;
}

@media (prefers-color-scheme: light) {

  .page .header p,
  article h3,
   article h4,
  .gallery h3,
  .section-title,
  .article,
  .page .header button {
    color: var(--border-color);
  }
}

.theme-light .page .header p,
.theme-light article h3,
.theme-light article h4,
.theme-light .gallery h3,
.theme-light .section-title,
.theme-light .article,
.theme-light .page .header button {
  color: var(--border-color);
}