/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #FF8DCB;
  --shaddow-color: #FFC2E6;
  --border-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --header-icon: url(../images/header_icon_dark.svg);
  --rec-item: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --shaddow-color: #FFC2E6;
    --border-color: #353430;
    --background-image: url(../images/cover-image-light.png);
    --header-icon: url(../images/header_icon_dark.svg);
    --rec-item: none;
  }

  .page .header p,
  .item h3,
  .gallery h3,
  .section-title,
  .article,
  .page .header button {
    color: var(--border-color);
  }

  .page .header button:focus {
    border-bottom-color: var(--border-color);
  }

  .page .header button:hover {
    border-color: #32312D66
  }

  .page .header .header__theme-menu-button_active {
    border-color: var(--border-color);
  }
}

.theme-light .page .header p,
.theme-light .item h3,
.theme-light .gallery h3,
.theme-light .section-title,
.theme-light .article,
.theme-light .page .header button {
  color: var(--border-color);
}

.theme-light .page .header button:focus {
  border-bottom-color: var(--border-color);
}

.theme-light .page .header button:hover {
  border-color: #32312D66
}

.theme-light .page .header .header__theme-menu-button_active {
  border-color: var(--border-color);
}