/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --shaddow-color: #DB00FF;
  --border-color: #F1B2CE;
  --background-image: url(../images/cover-image-dark.png);
  --header-icon: url(../images/header_icon.svg);
  --rec-item: block;
}